<footer>

	<div class="footer-flex-content">
		<div>
			<a href="/" >
			<div class="footer-heading">
				<img src="/_media/branding/light.png">
			</div>
			</a>
		</div>
		<div class="links-section">
			
			<div class="links-group">
				<div class="links">
					<div class="title">Events</div>
					<ul>
						{% for event in site.events %}
							<li>
								<a href="{{ site.baseurl }}{{ event.url }}">
									{{ event.name }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			
			{% for item in site.data.footer.items %}
				<div class="links-group">
					<div class="links">
						<div class="title">{{item.name}}</div>
						<ul>
							{% for link in item.links %}
								<li>
									<a href="{{ site.baseurl }}{{ link.link }}">
										{{ link.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

	<div class="endnotes">
		Copyright {{site.time | date: '%Y'}} DPS Bangalore South. All Rights Reserved.
	</div>

</footer>


<!--

	Hello!
	-- sumukh (github.com/sumukhprasad)

-->