<div id="background">
	<canvas id="bubbles-canvas" class="p5Canvas" width="1227" height="247" style="position: absolute; left: 0px; top: 0px; z-index:-1; margin-top:-1px;"></canvas>
	<div class="fade"></div>
	<script src="/_media/js/d3-delaunay.js"></script>
	<script src="/_media/js/bubbles.js"></script>
</div>

<nav id="nav">
	
	<a href="/"><div class="header-title"><img src="/_media/branding/dark.png"></div></a>

	<div id="link-drawer" class="links">
		<div class="links-container">
			{% for item in site.data.navigation.items %}
				<a href="{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}style="opacity: 1; font-weight: bold;"{% endif %}>
					{{ item.name }}
				</a>
			{% endfor %}
		</div>
		
	 </div>
	
	<button id="link-drawer-handle" class="link-drawer-handle"><img src="/_media/chevron-right.svg"></button>

	<script>
		var b = document.getElementById("link-drawer-handle");
		var linkDrawerIsOpen = false;

		b.addEventListener("click", () => {
			if (linkDrawerIsOpen) {
				document.getElementById("link-drawer").classList.remove("visible");
				document.getElementById("nav").classList.remove("link-drawer-open");
				b.classList.remove('rotated');
				linkDrawerIsOpen = false;
			} else {
				document.getElementById("link-drawer").classList.add("visible");
				document.getElementById("nav").classList.add("link-drawer-open");
				b.classList.add('rotated');
				linkDrawerIsOpen = true;
			}
		});
	</script>
</nav>
<div style="width: 100vw; text-align: center; font-family: Fraunces; font-size: 18px;">
	<span style="background-color: #0A3922;color: #CBDBB5;border-radius: 100px;padding: 5px 15px;"><b>ANNOUNCEMENT: </b>The last date for registration has been extended till 15th October 2024.</span>
</div>