<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main class="default-main">
			<h1 id="events">{{ page.name }}</h1>
			
			{{ content }}
			
			<h2>At a glance</h2>
			<ul>
				<li>Date: {{page.date_of_event}}</li>
				<li>Time: {{page.time_of_event}}</li>
				<li>Venue: {{page.venue}}</li>
				<li>Participants: {{page.participants}}</li>
				<li>Fee: {{page.fee}}</li>
			</ul>
		</main>
		

		{% include footer.html %}
		{% include envsash.html %}
</html>
