<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main>
			
			<section class="hero">
				
				<div class="sponsors">
					<div class="logos">
						<div class="sponsor-logo"> <img src="/_media/branding/DPS.png"> </div>
						<div class="sponsor-logo"> <img src="/_media/branding/PE.png"> </div>
						<div class="sponsor-logo"> <img src="/_media/branding/EI.png"> </div>
						<div class="sponsor-logo"> <img src="/_media/branding/PE-EI.png"> </div>
					</div>
					<div class="content">
						present
					</div>
				</div>
				<img src="/_media/branding/dark@2x.png" class="mm-logo">

				<div class="subtitle">
					A CBSE Adolescent Peer Educator Initiative
				</div>
				
				<div class="content">
					and the launch of
				</div>
				
				<div class="title">
					ANUBHAV - Centre for Life Skills
				</div>
				
				
				<div class="image-showcase">
					<div class="left-images">
						<div class="image extreme">
						
						</div>
						<div class="image inner">
						
						</div>
					</div>
					
					<img class="logo-center" src="/_media/branding/MM24-C.png">
					
					<div class="right-images">
						<div class="image inner">
						
						</div>
						<div class="image extreme">
						
						</div>
					</div>
				</div>
				
				
				<div class="links">
					<a href="#" class="learn-link">Get the brochure ></a> <a href="#" class="register-link">Register ></a>
				</div>
			</section>

			
			<div class="separator"></div>
			
			<center><h1>Welcome back to Mind Matters!</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>With great pleasure we welcome you back to our Young Adolescent Peer Leadership Conclave 2024, The Mind Matters. This year we will observe World Mental Health Day and create awareness on the theme "My health, my right" through various thought-provoking discussions, interactive workshops, collaboration with mental health institutes and organisations through stall exhibitions, inter-school competitions and much more. This year we are organising the  Conclave on the 25th and 26th of October and we invite you all once again wholeheartedly to participate for both the days.</p>
						<p>Your participation and contribution is very vital to the success of this regional conclave and we are excited to see the impactful ideas and solutions that will emerge from our time together. The proposed event aligns perfectly with our school's vision and commitment to holistic development. The primary goal for the event is to nurture Leadership Skills and qualities among the youth in institutions and schools. This event will help the youth to share, enhance and empower each other through best practices of Mental Health and Life Skills employed in their respective institutions.</p>
					</div>
				</div>
			</section>
			
			<div class="separator"></div>
			
			<center><h1>About the Conclave</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>The Peer Educators recognised the importance of mental health awareness and support within the school community and they have created this platform to address and exchange information with peers from other schools and institutes on various mental health challenges faced by the youth and finding innovative ways to overcome the problems.</p>
						<p>The Central Board of Secondary Education(CBSE) has initiated and supported the Adolescent Peer Educators Leadership Program in collaboration with Expressions India for enriching the Life Skills, Holistic Health and Well-being of students of our country. This program was launched in the year 2021 and Delhi Public School Bangalore South was one of the first few schools to have been a part of this program. From 2021 we have successfully conducted various Mental Health awareness programs for our students and the community.</p>
					</div>
				</div>
			</section>
			
			<div class="separator"></div>
			
			<center><h1>About the Peer Educator Programme</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>The Peer Educators are nominated and selected as “Mental Health Ambassadors” and leaders educating and creating awareness on Mental Health and Well-being in our school and the community.</p>
					</div>
				</div>
			</section>
			
			<div class="separator"></div>

			<center><h1>From the Principal's Desk</h1></center>
			<section class="content-section">
				<div class="photo">
					<img src="/_media/principal.jpg">
					<div class="caption">
						Ms. Anitha Bijesh,<br>
						Principal - DPS Bangalore South
					</div>
				</div>
				
				<div class="content">
					<div>
						<p>It gives me extreme delight to cordially invite you to MIND MATTERS 2023 - The Young Adolescent Peer Leadership Conclave being hosted in collaboration with Expressions India. We are all aware that the need for mental health awareness and support has never been more critical than ever before. We look forward to the enthusiastic participation of your school to an important event - uniting schools, educators, parents, and students in a shared commitment to prioritise mental well-being.</p>
						<p>The program is a one of a kind event which will feature - </p>
						<ul>
							<li>Presentations from the experts and faculty members will provide you with deep insights and practical strategies that can be implemented in your schools to create a more supportive and empathetic environment for all. </li>
							<li>Inter-school competitions that will serve to be the perfect platform for students to exhibit their innate talent, creativity and imagination to vocalize their ideas relevant to the assigned topics in their respective events. </li>
							<li>Stall exhibition - Schools are invited to put up their exhibits highlighting the best practices and strategies employed to inculcate life skills and create awareness on mental well-being among student, teacher and parent communities. </li>
						</ul>

						<p>Let us embrace this opportunity to learn from one another and build a stronger, more resilient educational community. I look forward to the enriching conversations, collaborations, and insights that will emerge from this conclave. Together, we can make a difference in the lives of our students and pave the way for a brighter, healthier future. </p>

						<p>With warm regards, <br>                    
						Anitha Bijesh<br>
						Principal</p>
					</div>
				</div>
			</section>
		</main>
		

		{% include footer.html %}
		{% include envsash.html %}
</html>
