<!DOCTYPE html>
<html lang="en-us">
	{% include head.html %}

	<body class="home-body">
		{% include navigation.html %}
		
		<main>
			
			<section class="hero">
				
				<div class="sponsors">
					<div class="logos">
						<div class="sponsor-logo"> <img src="/_media/branding/PE-EI.png"> </div>
						<div class="sponsor-logo"> <img src="/_media/branding/ANUBHAV.png"> </div>
						<div class="sponsor-logo"> <img src="/_media/branding/DPS.png"> </div>
						<div class="sponsor-logo"> <img src="/_media/branding/PE.png"> </div>
					</div>
					<div class="school">
						Delhi Public School Bangalore South
					</div>
					<div class="content">
						presents
					</div>
				</div>
				<img src="/_media/branding/dark@2x.png" class="mm-logo">

				<div class="subtitle">
					The Peer Educators Initiative for Wellbeing
				</div>
				
				<div class="content">
					and the launch of
				</div>
				
				<div class="title">
					ANUBHAV - Centre for Life Skills
				</div>
				
				
				<div class="image-showcase">
					<div class="left-images">
						<div class="image extreme">
							<img src="/_media/1.jpeg">
						</div>
						<div class="image inner">
							<img src="/_media/2.jpeg">
						</div>
					</div>
					
					<img class="logo-center" src="/_media/branding/MM24-C.png">
					
					<div class="right-images">
						<div class="image inner">
							<img src="/_media/3.jpeg">
						</div>
						<div class="image extreme">
							<img src="/_media/4.jpeg">
						</div>
					</div>
				</div>
				
				
				<div class="links">
					<a href="/_media/brochure.pdf" class="learn-link">Get the brochure ></a> <a href="https://entrar.in/cd273632523539f0110095199b821c3c/onlineRegistrationConclave/3" class="register-link">School Registrations ></a><br>
				</div>
			</section>
			
			<section class="limit-width">
			
			<div class="separator"></div>
		
			<center><h1>Welcome Note</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>With great pleasure we welcome you back to our Young Adolescent Peer Educator’s Leadership Conclave - MIND MATTERS 2024. As a part of the World Mental Health Day we propose to create awareness on the theme "My health, my right" through various thought-provoking discussions, interactive workshops, collaboration with mental health institutes and organisations through stall exhibitions, inter-school competitions and much more. This year we are organising the Conclave on the 25th and 26th of October and we invite you all once again wholeheartedly to participate on both days.
						<p>Your participation and contribution is very vital to the success of this regional conclave and we are excited to see the impactful ideas and solutions that will emerge from our time together. The proposed event aligns perfectly with our school's vision and commitment to holistic development. The primary goal for the event is to nurture Leadership Skills and qualities among the youth in institutions and schools. This event will help the youth to share, and empower each other through best practices of Mental Health and Life Skills employed in their respective institutions.		
					</div>
				</div>
			</section>
			
			<div class="separator"></div>

			<center><h1>From the Principal's Desk</h1></center>
			<section class="content-section">
				<div class="photo">
					<img src="/_media/principal.jpg">
					<div class="caption">
						Ms. Anitha Bijesh,<br>
						Principal - DPS Bangalore South
					</div>
				</div>
				
				<div class="content">
					<div>
						<p>It gives me extreme delight to cordially invite you to MIND MATTERS 2024 - The Young Adolescent Peer Leadership Conclave being hosted in collaboration with Expressions India. We are all aware that the need for mental health awareness and support has never been more critical than ever before. We look forward to the enthusiastic participation of your school to an important event - uniting schools, educators, parents, and students in a shared commitment to prioritise mental well-being.</p>
						<p>The program is a one of a kind event which will feature - </p>
						<ul>
							<li>Presentations from the experts and faculty members will provide you with deep insights and practical strategies that can be implemented in your schools to create a more supportive and empathetic environment for all. </li>
							<li>Inter-school competitions that will serve to be the perfect platform for students to exhibit their innate talent, creativity and imagination to vocalize their ideas relevant to the assigned topics in their respective events. </li>
							<li>Stall exhibition - Schools are invited to put up their exhibits highlighting the best practices and strategies employed to inculcate life skills and create awareness on mental well-being among student, teacher and parent communities. </li>
						</ul>

						<p>Let us embrace this opportunity to learn from one another and build a stronger, more resilient educational community. I look forward to the enriching conversations, collaborations, and insights that will emerge from this conclave. Together, we can make a difference in the lives of our students and pave the way for a brighter, healthier future. </p>

						<p>With warm regards, <br>                    
						Anitha Bijesh<br>
						Principal</p>
					</div>
				</div>
			</section>

			<div class="separator"></div>
			
			<center><h1>About the Conclave</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>The Peer Educators recognised the importance of mental health awareness and support within the school community and they have created this platform to address and exchange information with peers from other schools and institutes on various mental health challenges faced by the youth and finding innovative ways to overcome the problems.</p>
						<p>The Central Board of Secondary Education(CBSE) has initiated and supported the Adolescent Peer Educators Leadership Program in collaboration with Expressions India for enriching the Life Skills, Holistic Health and Well-being of students of our country. This program was launched in the year 2021 and Delhi Public School Bangalore South was one of the first few schools to have been a part of this program. From 2021 we have successfully conducted various Mental Health awareness programs for our students and the community.</p>
					</div>
				</div>
			</section>

			<div class="separator"></div>
			
			<center><h1>Who can participate?</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<ul>
							<li>Enterprising high school students from your School or Institute from Classes IX, X, XI,XII</li>
							<li>Teacher Coordinators and Counsellors from participating school/institute</li>
							<li>Participants who have passion and true commitment towards raising awareness and promoting mental health within the school community and outside</li>
							<li>Students with effective communication and leadership skills</li>
							<li>Students who are interested to gain more knowledge about Life Skills and Mental Health topics</li>
						</ul>
					</div>
				</div>
			</section>

			<div class="separator"></div>
			
			<center><h1>Why should I participate?</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<ul>
							<li>To celebrate the World Mental Health Day being observed on 10th October.</li>
							<li>Promote Mental Health and Well-being among students, teachers and other staff members within the school community and outside.</li>
							<li>Personal Growth and Learning.</li>
							<li>Promotion of holistic development in the school community.</li>
							<li>Nurture Leadership Skills.</li>
							<li>Gain knowledge from our interactive workshops and panel discussions by renowned mental health professionals and guest speakers from all walks of life.</li>
							<li>Exposure and awareness on the best practices of Life Skills and Mental Health in schools and institutes.</li>
						</ul>
					</div>
				</div>
			</section>
			
			<div class="separator"></div>
			
			<center><h1>General Instructions</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<ul>
							<li>Schools / Colleges are to nominate representatives for 25th and 26th for the event.</li>
							<li>The school team must be accompanied by 2 teachers - Teacher Coordinator and one School Counsellor.</li>
							<li>Students can participate in more than one event as long as they are aware of the date and time.</li>
							<li>Details of the event, the topics and the venue have been mentioned in the brochure.</li>
							<li>Kindly register for the events using the link that has been given below by 30th September 2024.</li>
							<li>Please ensure that only correct information is entered as no changes will be accommodated after registration.</li>
							<li>All participants must report for registration at  8:30 am on Friday, 25th October 2024 at the venue.</li>
							<li>Registration Counters will open at 8:30 am.</li>
							<li>The Opening Ceremony is scheduled at 9:00 am.</li>
							<li>All participants must wear their school uniform and ID cards.</li>
							<li>If you have any questions, please contact Ms Swati Banerjee on 9945217954 between 3-6 pm. </li>
						</ul>
					</div>
				</div>
			</section>
			
			<div class="separator"></div>
			
			<center><h1>About the Peer Educator Programme</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>The Peer Educators are nominated and selected as “Mental Health Ambassadors” and leaders educating and creating awareness on Mental Health and Well-being in our school and the community.</p>
					</div>
				</div>
			</section>
			
			<div class="separator"></div>
			
			<center><h1>Expressions India</h1></center>
			<section class="content-section">
				<div class="content">
					<div>
						<p>Expressions India - It is a well recognized and awarded program by the governmental and non-governmental organisation in the country. This program strives to Empower, Support and Streamline the co-scholastic and allied elements to effectively promote child and adolescent well-being in an inclusive environment for Indian schools. </p>

<p>A large number of schooling systems & government institutions in the country regularly seek technical expertise from Expressions India for their advocacy, research, training and skills enrichment. Having been the technical support for the CBSE Adolescent Life Skills Leadership Program with focus on building the teachers and students as Well-Being Ambassadors across the country, a technical resource pool of erudite professionals is effectively functional to facilitate these innovative programs.</p>
					</div>
				</div>
			</section>
			
			</section>
		</main>
		

		{% include footer.html %}
		{% include envsash.html %}
</html>
